{% extends 'base/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'matpress_dashboard/style.css' %}">
<link rel="stylesheet" href="{% static 'matpress_dashboard/dashboard1.css' %}">
{% comment %}
<link rel="stylesheet" href="{% static 'uikit/uikit.min.css' %}">
{% endcomment %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.11.1/dist/css/uikit.min.css" />
<style>
    body {
        background: #f1f2f7;
    }

    .loader__figure {
        border: 0 solid rgb(116, 92, 68);
    }

    .loader__label {
        color: rgb(116, 92, 68);
    }

    .light-blue.lighten-2,
    .left-sidebar .sidenav ul>li.active>.collapsible-header,
    .left-sidebar .sidenav ul>li.active a.collapsible-hdeader {
        background-color: rgb(180, 164, 156) !important;
    }

    nav,
    #main-wrapper[data-layout="vertical"] .topbar nav .nav-wrapper .brand-logo[data-logobg="skin1"] {
        background-color: rgb(157, 141, 124) !important;
    }

    a {
        text-decoration: none !important;
    }

    a.btn,
    a.btn-large,
    a.btn-small {
        color: white !important;
    }

    .input-field input:focus+label,
    .input-field textarea:focus+label {
        color: rgb(157, 141, 124) !important;
    }

    .input-field input:focus,
    .input-field textarea:focus {
        border-bottom: 1px solid rgb(157, 141, 124) !important;
        box-shadow: 0 1px 0 0 rgb(157, 141, 124) !important;
    }

    .brown-back {
        background-color: rgb(157, 141, 124) !important;
    }

    #cont-search>form>.row>.col input {
        border: none !important;
        margin-bottom: 0 !important;
    }

    #cont-search>form>.row>.col input:focus:not([readonly]) {
        box-shadow: none !important;
    }

    #cont-search {
        padding-bottom: 0 !important;
        padding-top: 0 !important;
        margin: 0.5rem 0 1rem 0;
    }

    .collapsible-header {
        align-items: center;
    }
</style>
<script defer src="{% static 'matpress_dashboard/jquery.min.js' %}"></script>
<script defer src="{% static 'matpress_dashboard/materialize.min.js' %}"></script>
<script defer src="{% static 'matpress_dashboard/perfect-scrollbar.jquery.min.js' %}"></script>
<script defer src="{% static 'matpress_dashboard/app.js' %}"></script>
<script defer src="{% static 'matpress_dashboard/app.init.js' %}"></script>
<script defer src="{% static 'matpress_dashboard/app-style-switcher.js' %}"></script>
<script defer src="{% static 'matpress_dashboard/custom.min.js' %}"></script>
{% comment %}
<script defer src="{% static 'uikit/uikit.min.js' %}"></script>
{% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/uikit@3.11.1/dist/js/uikit.min.js"></script>
{% endblock %}
{% block body %}
<div class="main-wrapper" id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin1"
    data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
    {% block preloader %}
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">SIICSA</p>
        </div>
    </div>
    {% endblock %}
    {% block header %}
    <header class="topbar">
        <nav data-navbarbg="skin1">
            <div class="nav-wrapper">
                <a href="{% url 'orders:dashboard' %}" class="brand-logo" data-logobg="skin1">
                    <span class="icon">
                        <img class="light-logo" src="{% static 'images/logo_short.png' %}" alt="logos"
                            style="margin-left: 9px;">
                    </span>
                    <span class="text" style="line-height: 21px; margin-left: 15px;">
                        <img class="light-logo" src="{% static 'images/logo_text.png' %}" alt="logos">
                    </span>
                </a>
                <ul class="left">
                    <li class="hide-on-med-and-down">
                        <a href="#;" class="nav-toggle">
                            <span class="bars bar1"></span>
                            <span class="bars bar2"></span>
                            <span class="bars bar3"></span>
                        </a>
                    </li>
                    <li class="hide-on-large-only">
                        <a href="#;" class="sidebar-toggle">
                            <span class="bars bar1"></span>
                            <span class="bars bar2"></span>
                            <span class="bars bar3"></span>
                        </a>
                    </li>
                    {% comment %}
                    <li class="search-box">
                        <a href="#;"><i class="material-icons">search</i></a>
                        <form class="app-search">
                            <input type="text" class="form-control" placeholder="Search &amp; enter"> <a
                                class="srh-btn"><i class="ti-close"></i></a>
                        </form>
                    </li>
                    {% endcomment %}
                </ul>
                <ul class="right">
                    <li>
                        <a href="#"><i class="material-icons">settings</i></a>
                    </li>
                    <li><a class="dropdown-trigger" href="#;" data-target="user_dropdown"><i
                                class="material-icons">account_circle</i></a>
                        <ul id="user_dropdown" class="mailbox dropdown-content dropdown-user">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-text">
                                        <h4>{{user.full_name}}</h4>
                                        <p>{{user.email}}</p>
                                    </div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                    </li>
                    <li><a href="#"><i class="material-icons">settings</i> Account Setting</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'users:logout' %}"><i class="material-icons">power_settings_new</i>
                            Cerrar sesión</a>
                    </li>
                </ul>
                </li>
                </ul>
            </div>
        </nav>
    </header>
    {% endblock %}
    {% block sidebar %}
    <aside class="left-sidebar">
        <ul id="slide-out" class="sidenav ps ps--theme_default ps--active-y active" data-sidebarbg="skin6">
            <li>
                <div class="user-profile" style="background-image: url({% static 'images/mountain.jpg' %});">
                    <div class="user-name dropdown-trigger" data-target="dropdownuser">
                        <h6 class="white-text name"><i class="material-icons m-r-10">account_circle</i> <span
                                class="hidden">{{user.username}}</span> <i
                                class="material-icons ml-auto hidden">expand_more</i></h6>
                    </div>
                    <ul id="dropdownuser" class="dropdown-content" tabindex="0">
                        {% if user.is_authenticated %}
                        <li tabindex="0"><a href="#"><i class="material-icons">account_circle</i> My Profile</a>
                        </li>
                        <li tabindex="0"><a href="#"><i class="material-icons">settings</i> Account Setting</a></li>
                        <li tabindex="0"><a href="{% url 'users:logout' %}"><i
                                    class="material-icons">power_settings_new</i> Cerrar sesión</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </li>
            <li>
                <ul class="collapsible">
                    <li class="small-cap"><span class="hide-menu">UTILIDADES</span></li>
                    <li>
                        <a href="javascript: void(0);" class="collapsible-header has-arrow" tabindex="0"><i
                                class="material-icons">widgets</i><span class="hide-menu"> Catálogos</span></a>
                        <div class="collapsible-body">
                            <ul>
                                {% if perms.usuarios.view_users %}
                                <li><a href="{% url 'users:list_user' %}"><i class="material-icons">adjust</i><span
                                            class="hide-menu">Usuarios</span></a></li>
                                {% endif %}
                                <li><a href="{% url 'orders:list_client' %}"><i class="material-icons">adjust</i><span
                                            class="hide-menu">Clientes</span></a></li>
                                <li><a href="{% url 'orders:list_location' %}"><i class="material-icons">adjust</i><span
                                            class="hide-menu">Localizaciones</span></a></li>
                                <li><a href="{% url 'orders:list_obra' %}"><i class="material-icons">adjust</i><span
                                            class="hide-menu">Obras</span></a></li>
                                <li><a href="{% url 'orders:list_concept' %}"><i class="material-icons">adjust</i><span
                                            class="hide-menu">Conceptos</span></a></li>
                                <li><a href="{% url 'orders:list_test' %}"><i class="material-icons">adjust</i><span
                                            class="hide-menu">Pruebas</span></a></li>
                                <li><a href="{% url 'orders:list_employee' %}"><i class="material-icons">adjust</i><span
                                            class="hide-menu">Personal</span></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="collapsible">
                    <li class="small-cap"><span class="hide-menu">SISGEO</span></li>
                    <li>
                        <a href="javascript: void(0);" class="collapsible-header has-arrow" tabindex="0"><i
                                class="material-icons">assignment</i><span class="hide-menu">Órdenes de
                                trabajo</span></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="{% url 'orders:create_order' %}"><i class="material-icons">adjust</i><span
                                            class="hide-menu">Nueva orden</span></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <div class="ps__scrollbar-x-rail">
                <div class="ps__scrollbar-x"></div>
            </div>
            <div class="ps__scrollbar-y-rail">
                <div class="ps__scrollbar-y"></div>
            </div>
        </ul>
    </aside>
    {% endblock %}
    {% block section_content %}
    <section class="page-wrapper">
        {% block pagetitles %}
        <div class="page-titles">
            <div class="d-flex align-items-center">
                <h4 class="m-b-0">{% block pagetitle %}Dashboard{% endblock%}</h4>
                <div class="custom-breadcrumb ml-auto">
                    {% block breadcrumbs %}
                    <a href="{% url 'orders:dashboard' %}" class="breadcrumb">Inicio</a>
                    {% endblock %}
                </div>
            </div>
        </div>
        {% endblock %}
        <main class="container-fluid">
            {% block main %}
            {% include 'base/validations.html' %}
            {% endblock %}
        </main>
        {% block footer %}
        <footer class="center-align m-b-30 m-l-15 m-r-15">
            <a href="https://www.siicsacv.com.mx/">SIICSA</a> 2021. Todos los derechos reservados.
        </footer>
        {% endblock %}
    </section>
    {% endblock %}
</div>
{% endblock %}